BR2_arm=y
BR2_cortex_a7=y
BR2_ARM_FPU_NEON_VFPV4=y
BR2_ARM_INSTRUCTIONS_THUMB2=y
BR2_KERNEL_HEADERS_CUSTOM_GIT=y
BR2_KERNEL_HEADERS_CUSTOM_REPO_URL="https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git"
BR2_KERNEL_HEADERS_CUSTOM_REPO_VERSION="linux-7.2.y"
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_7_1=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_GCC_ENABLE_OPENMP=y
BR2_TARGET_OPTIMIZATION="-march=armv7-a -mtune=cortex-a7 -mfpu=neon-vfpv4 -mfloat-abi=hard -ftree-vectorize"
BR2_CCACHE=y
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_GOODLUCKOS_PATH)/board/my-device/patches"
BR2_TARGET_GENERIC_HOSTNAME="goodluckOS"
BR2_TARGET_GENERIC_ISSUE="Oh No! It's goodluckOS!"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_ROOTFS_DEVICE_TABLE="system/device_table.txt $(BR2_EXTERNAL_GOODLUCKOS_PATH)/board/my-device/permissions.txt"
BR2_TARGET_GENERIC_ROOT_PASSWD="root"
# BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW is not set
BR2_SYSTEM_ENABLE_NLS=y
BR2_TARGET_TZ_INFO=y
BR2_ROOTFS_USERS_TABLES="../board/my-device/users.txt"
BR2_ROOTFS_OVERLAY="../board/my-device/rootfs-overlay/"
BR2_ROOTFS_POST_BUILD_SCRIPT="../board/my-device/post-build.sh"
BR2_PACKAGE_BUSYBOX_CONFIG="$(BR2_EXTERNAL_GOODLUCKOS_PATH)/configs/.busybox-config"
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_ALSA_UTILS=y
BR2_PACKAGE_ALSA_UTILS_AMIXER=y
BR2_PACKAGE_ALSA_UTILS_APLAY=y
BR2_PACKAGE_ALSA_UTILS_APLAYMIDI=y
BR2_PACKAGE_ALSA_UTILS_SPEAKER_TEST=y
BR2_PACKAGE_BROTLI=y
BR2_PACKAGE_DOSFSTOOLS=y
BR2_PACKAGE_DOSFSTOOLS_MKFS_FAT=y
BR2_PACKAGE_CHOCOLATE_DOOM=y
BR2_PACKAGE_DOOM_WAD=y
BR2_PACKAGE_DRM_INFO=y
BR2_PACKAGE_MESA3D=y
BR2_PACKAGE_MESA3D_GALLIUM_DRIVER_LIMA=y
BR2_PACKAGE_MESA3D_OPENGL_EGL=y
BR2_PACKAGE_MESA3D_OPENGL_ES=y
BR2_PACKAGE_SDL=y
BR2_PACKAGE_SDL_MIXER=y
BR2_PACKAGE_SDL_NET=y
BR2_PACKAGE_SDL2_KMSDRM=y
BR2_PACKAGE_SDL2_OPENGLES=y
BR2_PACKAGE_SDL2_MIXER=y
BR2_PACKAGE_SDL2_NET=y
BR2_PACKAGE_SDL3=y
BR2_PACKAGE_SDL3_KMSDRM=y
BR2_PACKAGE_SDL3_OPENGLES=y
BR2_PACKAGE_SDL3_GFX=y
BR2_PACKAGE_SDL3_IMAGE=y
BR2_PACKAGE_SDL3_TTF=y
BR2_PACKAGE_DBUS=y
BR2_PACKAGE_EVTEST=y
BR2_PACKAGE_TRIGGERHAPPY=y
BR2_PACKAGE_UMTPRD=y
BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_JPEG=y
BR2_PACKAGE_LIBPNG=y
BR2_PACKAGE_JSONCPP=y
BR2_PACKAGE_YAML_CPP=y
BR2_PACKAGE_PCRE2_16=y
# BR2_PACKAGE_IFUPDOWN_SCRIPTS is not set
BR2_PACKAGE_OPENDOAS=y
BR2_PACKAGE_BUBBLEWRAP=y
BR2_PACKAGE_CRUN=y
BR2_PACKAGE_PODMAN=y
BR2_PACKAGE_RUNC=y
BR2_PACKAGE_TAR=y
BR2_PACKAGE_UTIL_LINUX_BINARIES=y
BR2_PACKAGE_UTIL_LINUX_PARTX=y
BR2_PACKAGE_UTIL_LINUX_UNSHARE=y
BR2_PACKAGE_NANO=y
BR2_PACKAGE_HOST_KMOD=y
BR2_PACKAGE_RETROARCH=y
BR2_PACKAGE_RETROARCH_EGL=y
BR2_PACKAGE_RETROARCH_GLES=y
BR2_PACKAGE_RETROARCH_KMS=y
BR2_PACKAGE_RETROARCH_SDL2=y
BR2_PACKAGE_RETROARCH_RGUI_MENU=y
BR2_PACKAGE_LIBRETRO_CORES=y
BR2_PACKAGE_PUPPY=y
BR2_PACKAGE_ARE_YOU_SURE=y
BR2_PACKAGE_SYSTEM_SETTINGS=y
BR2_PACKAGE_RESIZE_HOME=y
BR2_PACKAGE_PPSSPP=y
BR2_PACKAGE_EVSIEVE=y
